## Q2-1:

In [27]:
dataset = [['Bread', 'Milk', 'Eggs'],
           ['Bread', 'Juice', 'Cheese'],
           ['Milk', 'Eggs', 'Juice'],
           ['Bread', 'Milk'], 
           ['Eggs', 'Juice'],
           ['Bread', 'Cheese'],
           ['Milk', 'Cheese'],
           ['Bread', 'Milk', 'Eggs', 'Juice'],
           ['Juice', 'Cheese'],
           ['Bread', 'Milk', 'Cheese']]

In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori as mlx_apriori
from apyori import apriori as apy_apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [37]:
te = TransactionEncoder()
te_try = te.fit(dataset).transform(dataset)

In [38]:
df = pd.DataFrame(te_try, columns=te.columns_)

In [39]:
df

   Bread  Cheese   Eggs  Juice   Milk
0   True   False   True  False   True
1   True    True  False   True  False
2  False   False   True   True   True
3   True   False  False  False   True
4  False   False   True   True  False
5   True    True  False  False  False
6  False    True  False  False   True
7   True   False   True   True   True
8  False    True  False   True  False
9   True    True  False  False   True

In [51]:
frequent_results = mlx_apriori(df,min_support=0.2, use_colnames=True)

In [52]:
print(frequent_results)

    support             itemsets
0       0.6              (Bread)
1       0.5             (Cheese)
2       0.4               (Eggs)
3       0.5              (Juice)
4       0.6               (Milk)
5       0.3      (Cheese, Bread)
6       0.2        (Eggs, Bread)
7       0.2       (Juice, Bread)
8       0.4        (Milk, Bread)
9       0.2      (Cheese, Juice)
10      0.2       (Milk, Cheese)
11      0.3        (Juice, Eggs)
12      0.3         (Milk, Eggs)
13      0.2        (Milk, Juice)
14      0.2  (Eggs, Milk, Bread)
15      0.2  (Juice, Milk, Eggs)

In [53]:
rules = association_rules(frequent_results, metric="confidence", min_threshold=0.7)

In [54]:
print(rules)

     antecedents consequents  antecedent support  consequent support  support  \
0         (Eggs)     (Juice)                 0.4                 0.5      0.3
1         (Eggs)      (Milk)                 0.4                 0.6      0.3
2  (Eggs, Bread)      (Milk)                 0.2                 0.6      0.2
3  (Milk, Juice)      (Eggs)                 0.2                 0.4      0.2

   confidence      lift  leverage  conviction  zhangs_metric
0        0.75  1.500000      0.10         2.0       0.555556
1        0.75  1.250000      0.06         1.6       0.333333
2        1.00  1.666667      0.08         inf       0.500000
3        1.00  2.500000      0.12         inf       0.750000

## Q2-2:

1. Each row in the dataset represents a transaction made, this could also understand as a customer's shopping list.

   Items are represented as a set of items, or a list.

2. Apriori algorithm is more efficient and scalable compare to other association rule mining, and since the items must be frequent before the itemsets, we won't have error in finding itemsets.

   The 'min_support' function is used to eliminate items and itemsets that have a support value below the threshold, and it control the number of frequent itemsets in the results by lowering or highering the minimum value.

3. Because the function operates on a set of unique items, so turning them into lists is the best way

   Missing data can be handled by data cleaning, or removing specific points of data, row, or collumn that is missing.

4. Confidence metric represent the probability we see the items given its antecedent.

   Same with 'min_support', 'min_threshold' also eliminate rules thathave a confidence value below the threshold, the higher the threshold, the less rules we would have.

5. Based on the results, we can see that strong rules tends to be in frequent itemsets, like eggs and milk, or eggs and juice.

   Using association rules, companies can learn about clients habit and tendency of associating items close to each other.

6. If you change 'min_support' to a higher number, the number of frequent itemsets will decrease, and vice versa. This is because we would have either a tighter or more loose threshold based on the 'min_support'.

   Adjusting 'min_threshold' would change the minimum required value for a rule to be reliable. A higher confidence threshold would lower the number of rules, but the rules would be more reliable.

7. In real life, online shopping like Amazon can use association rules to help customers navigate and buy associated items without having to look for. 

   Retail store can use association rules to suggest custormer based on the first or second item they buy, or arranging itemsets close to each others for easier shopping experience.